img {border: none;}
main { background-image: url(images/heroback2.jpg);
background-size: 100% 100%;
color: #FFF;
padding: 2em;}
#bar {background-color: #152420;}
img {border: none;}
#container {margin-left: auto;
margin-right: auto;
width: 80%;}
body {background-image: url(images/background.jpg);}
header {background-color: #000033;
background-image: url(images/headerbackblue.jpg);
background-position: right;
background-repeat: no-repeat;
height: 80px;
padding-top: 5px;
padding-left: 2em;
text-shadow: 1px 1px 1px #FFF;}
nav {word-spacing: 1em;
font-weight: bold;
font-size: 1.5em;
text-align: center;}
nav a {text-decoration: none;}
footer {font-style: italic;
font-size: .80em;
text-align: center;
padding: 0.5em;}